<div>
    <div class="row gap">
        <div class="col-md-12">
            <h2 style="font-weight: bold;text-align: justify;">
                We design for tomorrow
            </h2>

            <h4 style="text-align: justify;">
                Started in 2012, the aim of the venture is to become 
                Design Leaders in the overall Digital ecosystem. Our services offer 
                unique capabilities to strategize and design digital products 
                to engage users and consumers with experiential content & information. 
            </h4>
        </div>

        <div class="col-md-12 seperatorgap">
            <h2 style="font-weight: bold;text-align: justify;">
                Philosophy
            </h2>

            <h4 style="text-align: justify;">
                We have a simple philosophy of keeping things un-complicated and 
                information un-cluttered. We are critical in our thinking and believe in 
                “speed to market” by building and testing while we design.  
            </h4>
        </div>

        <div class="col-md-12 seperatorgap">
            <h2 style="font-weight: bold;text-align: justify;">
                Process
            </h2>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <img style="width: 100%" src="./images/about-process.jpg" alt="" />
                </div>
            </div>
        </div>

        <div class="col-md-12 seperatorgap">
            <h2 style="font-weight: bold;text-align: justify;">
                People
            </h2>

            <h4 style="text-align: justify;">
                UniKwan is a DESIGN & MOTION company creating delightful and meaningful 
                digital user experiences that focuses on user centered design. A multidisciplinary 
                team of Designers, Researchers and Information Architects come together as one to 
                engage and solve problems.  
            </h4>

            <div class="row">
                <h4 class="col-md-3 bold-text">
                    Sagar Saseendran
                    <br>
                    Creative Director
                </h4>
                <h4 class="col-md-3 bold-text">
                    Mandeep Singh
                    <br>
                    Interaction Designer
                </h4>
                <h4 class="col-md-3 bold-text">
                    Prabuddha Vyas	
                    <br>
                    Managing Director
                </h4>
                <h4 class="col-md-3 bold-text">
                    Varun Naik
                    <br>
                    Motion Designer
                </h4>
                <h4 class="col-md-3 bold-text">
                    Sandeep K
                    <br>
                    UI Writer
                </h4>
            </div>

            <div class="col-md-12 seperatorgap">
                <h2 style="font-weight: bold;text-align: justify;">
                    Partners
                </h2>

                <div class="row">
                    <h4 class="col-md-6 bold-text">
                        While of One (INDIA)
                    </h4>
                    <h4 class="col-md-6 bold-text">
                        BBIPPL (INDIA & USA)
                    </h4>
                </div>
            </div>
        </div>


    </div>
</div>
