<div ng-controller="ContactCtrl">
    <div class="row">
        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="font-weight: bold">
                                CONTACT
                            </h2>
                            <h4>SAY HELLO! Get in touch.</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>
                                        Call us at
                                    </h4>
                                    <h4>
                                        +919689568578
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        Reach us at
                                    </h4>
                                    <h4>
                                        1115, 23rd Cross, 23rd main,<br>
                                        HSR layout, sector-2<br>
                                        Bangalore, INDIA<br>
                                        56012
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        Email us at
                                    </h4>
                                    <h4>
                                        info@unikwan.com
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="font-weight: bold">CAREER</h2>
                            <h4>Wide range of opportunities</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <h4 class="col-md-12" style="text-align: justify">
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own. 
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own.
                                </h4>
                                <div class="col-md-12">
                                    <div class="row">
                                        
                                        <div ng-repeat="careerPosition in careerPositions" >
                                            <h4 class="col-md-4 arrow bold-text" ng-click="open('lg',$index+1, careerPosition)">
                                                {{careerPosition}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="font-weight: bold">START A PROJECT</h2>
                            <h4>Let's talk your requirement</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <h4 class="col-md-12" style="text-align: justify">
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own. 
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own.
                                </h4>
                                <h4 class="col-md-12 career-link">
                                    Email us at: business@unikwan.com
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>