<div class="videoWrapper">
    <iframe id="video"
            src='http://player.vimeo.com/video/102912363?api=1&player_id=player1&title=0&byline=0&portrait=0' 
            frameborder='0' 
            webkitAllowFullScreen 
            mozallowfullscreen 
            allowFullScreen>

    </iframe>

    <div class="heroImage hidden-xs" id="videoHeroControls">

        <div class="heroControl">
            <div class="heroText">Design <span style="color: #BABABA">&</span> <span style="color: #19A9EF">Motion</span></div>

            <img src="./images/play-white.png" alt="" class="play" id="playVideo"/>


        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-weight: bold;text-align: justify;">
                UniKwan specializes in Product & Service Innovation, User Experience Design, 
                Usability and Motion Design
            </h2>

            <h4 style="text-align: justify;">
                UniKwan is a Design & Motion company creating delightful and meaningful digital 
                user experiences that focuses on user centered design. A multidisciplinary team 
                of Designers, Researchers Information Architects and Animators come together as 
                one to engage and solve problems. 
            </h4>
        </div>
        <div class="col-md-12 seperatorgap">
            <h2 style="font-weight: bold">
                SERVICES
            </h2>
            <h4 style="text-align: justify;">
                Wide range of expertise in Digital Business
                Our services offer unique capabilities to strategize and design digital products to engage 
                users and consumers with experiential content & information.
            </h4>
        </div>
        <div class="col-md-12">
            <div class="row">
                <h4 class="col-md-6 arrow bold-text">
                    Product & Service Innovation
                </h4>
                <h4 class="col-md-6 arrow bold-text">
                    User Experience Design
                </h4>
                <h4 class="col-md-6 arrow bold-text">
                    Usability
                </h4>
                <h4 class="col-md-6 arrow bold-text">
                    Motion Design
                </h4>
            </div>
        </div>
        <div class="col-md-12 seperatorgap">
            <h2 style="font-weight: bold">
                CLIENTS
            </h2>
            <h4>
                Our esteemed client. Also our partners!
            </h4>

            <div class="row clients">
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/MIT-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/Nagra_logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/arkin-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/cmedios-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/eignerisk-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/ge-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/lensbricks-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/nokia-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/tataelxsi-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/lightmetrics-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/xtremum-logo.png" alt="" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <img src="./images/clients/novu-logo.png" alt="" />
                </div>
            </div>


        </div>
        <div class="col-md-12 seperatorgap testimonial">
            <h2 style="font-weight: bold">
                TESTIMONIALS
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active testimonials">
                                <h4>We knew we had a challenge with our current Online trading portal 
                                    since we were dealing with huge amount of data. UniKwan Designers were 
                                    able to break down our current product, identify its weaknesses, and 
                                    educate us on how we can make it more intuitive. We couldn’t be happier with 
                                    the transformation they provided to our product and the synergies to our team
                                    in the short timeframe. I highly recommend UniKwan to any team looking to 
                                    create fantastic user experiences with their products or services.
                                </h4>
                                <h5>SAURABH PATEL, VP, RUPEESEED.COM</h5>
                                <h6>rupeeseed.com is a part of Acumen Capital Market (I) Ltd.</h6>
                            </div>
                            <!--                        <div class="item testimonials">
                                                        <h4>Lorep ipsum text</h4>
                                                    </div>
                                                    <div class="item testimonials">
                                                                                <h4>Lorep ipsum text</h4>
                                                                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 2000
    });

    $(function () {
        var player = $('iframe');
        var playerOrigin = '*';
        // Listen for messages from the player
        if (window.addEventListener) {
            window.addEventListener('message', onMessageReceived, false);
        }
        else {
            window.attachEvent('onmessage', onMessageReceived, false);
        }

        // Handle messages received from the player
        function onMessageReceived(event) {
            // Handle messages from the vimeo player only
            if (!(/^https?:\/\/player.vimeo.com/).test(event.origin)) {
                return false;
            }

            if (playerOrigin === '*') {
                playerOrigin = event.origin;
            }

            var data = JSON.parse(event.data);

            switch (data.event) {
                case 'ready':
                    onReady();
                    break;

                case 'playProgress':
                    onPlayProgress(data.data);
                    break;

                case 'pause':
                    onPause();
                    break;

                case 'finish':
                    onFinish();
                    break;
            }
        }
//        // Call the API when a button is pressed
        $('#playVideo').on('click', function () {
            post('play');
            $('#videoHeroControls').fadeOut('slow');
        });
        // Helper function for sending a message to the player
        function post(action, value) {
            var data = {
                method: action
            };

            if (value) {
                data.value = value;
            }

            var message = JSON.stringify(data);
            player[0].contentWindow.postMessage(message, playerOrigin);
        }

        function onReady() {
            console.log("ready");

            post('addEventListener', 'pause');
            post('addEventListener', 'finish');
            post('addEventListener', 'playProgress');
        }

        function onPause() {
            console.log("paused");
            $('#videoHeroControls').fadeIn('slow');
        }

        function onFinish() {
            console.log("finished");
            $('#videoHeroControls').fadeOut('slow');
        }

        function onPlayProgress(data) {
            console.log("play progress");
        }
    });
</script>