<div class="modal-header">
    <div class="modal-title" style="text-align: center;display: block;">
        
        <h1>{{header}}</h1>

        <!--<span class="pull-right" ng-click="cancel()" style="cursor: pointer">x</span>-->
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            
            <ng-include src="getURL()"></ng-include>
            
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
