    
<div class="modal-header">
    <h3 class="modal-title">
        {{work[index]['projectName']}}

        <span class="pull-right" ng-click="cancel()" style="cursor: pointer">x</span>
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <!--            <div class="carousel-caption">
                                    <h4>Slide {{slide.id}}</h4>
                                </div>-->
                </uib-slide>
            </uib-carousel>
        </div>
    </div>

    <div class="row" ng-show="work[index]['video']">
        <div class="col-lg-8 col-lg-offset-2">
            <fluidvids video="http://player.vimeo.com/video/{{work[index]['video']}}?api=1&player_id=player1&title=0&byline=0&portrait=0" height="281" width="500">

            </fluidvids>
        </div>
    </div>

</div>
<!--<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->
